<h3>CRISIS CENTER</h3>

<h1>Hello Counter</h1>

<button class="btn btn-success" (click)="increment()">Increment</button>
<!-- <h1> {{counter$ | async}} </h1> -->
<button class="btn btn-warning" (click)="decrement()">Decrement</button>

<h2>Counter: {{counter$ | async}}</h2>

<p><br /></p>
<hr>
<h2>Using re-usable component</h2>

<app-re-usable [type]="reUsableType" [placeholder]="reUsablePlaceholder" (sendEventEmitter)="getDataFromReUsableComponent($event)"></app-re-usable>

@if (outputValueFromReUsableComp.length > 0) {
  <h3>You entered: {{outputValueFromReUsableComp}}</h3>
}
