<nav class="navbar navbar-expand-sm navbar-dark bg-dark" style="margin-bottom: 30px;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="" routerLinkActive="active">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="user" routerLinkActive="active">User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="recipes" routerLinkActive="active">Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="crisis" routerLinkActive="active">Crisis Center</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="heroes" routerLinkActive="active">Heroes</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="rxjs-basic" routerLinkActive="active">RxJs Basic</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="combine-rxjs" routerLinkActive="active">RxJs Combine</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="signal" routerLinkActive="active">Signal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="task" routerLinkActive="active">To Do</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="newTask" routerLinkActive="active">New Task</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="vendor" routerLinkActive="active">Vendor</a>
        </li>

      </ul>
      <form class="d-flex ms-auto">
        <button class="btn btn-primary" type="button" (click)="getTime()">Get Time</button>
      </form>
    </div>
  </div>
</nav>

<div class="container">


  <!-- <h1>Hello Counter</h1> -->

  <!-- <button class="btn btn-success" (click)="increment()">Increment</button> -->
  <!-- <h1> {{counter$ | async}} </h1> -->
  <!-- <button class="btn btn-warning" (click)="decrement()">Decrement</button> -->

  <!-- <hr> -->

  <router-outlet />
</div>