@if(loading$ | async) {
<div class="spinner-border"></div>
}

@if (!(loading$ | async)) {
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h2>User Details</h2>
            </div>
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-4">First Name:</div>
                    <div class="col-7">{{(user$ | async)?.firstName}}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-4">Last Name:</div>
                    <div class="col-7">{{(user$ | async)?.lastName}}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-4">Phone No:</div>
                    <div class="col-7">{{(user$ | async)?.phone}}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-4">Email:</div>
                    <div class="col-7">{{(user$ | async)?.email}}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-4">Gender:</div>
                    <div class="col-7">{{(user$ | async)?.gender}}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-4">Age:</div>
                    <div class="col-7">{{(user$ | async)?.age}}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-4">City:</div>
                    <div class="col-7">{{(user$ | async)?.address?.city}}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-4">Postal Code:</div>
                    <div class="col-7">{{(user$ | async)?.address?.postalCode}}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-4">Company:</div>
                    <div class="col-7">{{(user$ | async)?.company?.name}}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-2"></div>

    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <h2>Counter</h2>
            </div>
            <div class="card-body">
                <h3>{{counter$ | async}}</h3>

                <button class="btn btn-primary" (click)="increment()">Increment</button>
                <button class="btn btn-warning" (click)="decrement()">Decrement</button>
            </div>
        </div>
    </div>
</div>
}